/* SECTION */
.myroom-section {
    width: 950px;
    margin: auto;
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

.gather-list {
	width: 930px;
	padding: 40px 0px 15px 10px;
	/* background-color: azure; */
}

.gather-main {
  	font-size: 20pt;
	padding: 0px 0px 10px 20px;
  	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #e3d7cf;
	/* background-color: skyblue; */
}

/* 본문 전체 박스 */
.myroom-box {
	width: 940px;
	display: flex;
	padding: 10px 5px;
	/* border: 1px solid black; */
}

/* 카테고리 */
.myroom-category {
	width: 180px;
	padding: 0 10px 0px 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	border-right: 1px solid rgb(190, 184, 184);
}

.myroom-category span {
	font-size: 20px;
	font-weight: bold;
}

.category-align {
	display: flex;
	align-items: center;
}

.category-align span {
	margin-right: 7px;
	font-size: 15px;
	font-weight: normal;
}


/* 카테고리 - 내 프로필 */
.category-profile {
	color: black;
	margin-bottom: 25px;
}

.category-profile span {
	font-size: 15px;
	font-weight: normal;
}

.category-profile li {
	font-size: 17px;
	margin: 10px 0 0 0;
	/* border: 1px solid black; */
}

.category-profile a:hover {
	font-weight: bold;
}

/* 카테고리 - 활동내역 */
.category-activity {
	color: black;
	margin-bottom: 25px;
}

.category-activity li {
	font-size: 17px;
	margin: 10px 0 0 0;
}

/* 카테고리 - 게시판 */
.category-activity-board {
	margin: 0 0px 0 20px;
}

.category-activity-board li {
	font-size: 15px;
	margin: 5px 0 0 0;
}

.category-activity-board a:hover {
	font-weight: bold;
}

/* 카테고리 - 레시피 */
.category-activity-recipe {
	margin: 0 0px 0 20px;
}

.category-activity-recipe li {
	font-size: 15px;
	margin: 5px 0 0 0;
}

.category-activity-recipe a:hover {
	font-weight: bold;
}

/* 카테고리 - 밥모임 */
.category-activity-gather {
	margin: 0 0px 0 20px;
}

.category-activity-gather li {
	font-size: 15px;
	margin: 5px 0 0 0;
}

.category-activity-gather a:hover {
	font-weight: bold;
}

.fontBold {
    font-size: 17px;
    font-weight: bold;
}


/* 본문 내용 */
.myroom-contents {
	width: 710px;
	padding: 0 5px;
}

.up-text {
    display: flex;
	justify-content: center;
    width: 100%;
    margin-top: 35px;
	padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}

.up-text span {
	margin-right: 10px;
}

.up-texttext {
    margin: 10px;
    font-size: 13px;
}

.up-form {
    width: 100%;
    padding-top: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}

.row {
    border-bottom: 1px solid #e6e6e6;
}

.t-text {
    width: 230px;
    padding-left: 20px;
    vertical-align: middle;
    background-color: #F6F5F0;
}

.t-box {
    padding: 10px;
}

.t-box-none {
    padding: 15px;
    font-size: 15px;
}

.t-box-text {
    padding: 10px 0px 0px 2px;
    font-size: 13px;
    color: #777;
}

.t-text a {
    color: #777;
    font-size: 14px;
    margin: 0px 5px;
    text-decoration-line: underline;
}

.up-form input[name="mem_id"],
.up-form input[name="password"],
.up-form input[name="name"],
.up-form input[name="nickname"],
.up-form input[name="email"],
.up-form input[name="tel"],
.up-form input[name="birthdate"], 
.up-form input[name="profile_image"] {
    width: 250px;
    height: 40px;
    padding: 15px;
    border: 1px solid #dddddd;
    box-sizing:border-box;
}

.t-box label {
    color: #777;
    font-size: 14px;
    margin-right: 20px;
}

input[name="submit"] {
    width: 100px;
    padding: 15px;
    margin: 0px 20px;
    background-color: #dddddd;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;   
}


.button {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.button a {
    width: 100px;
    padding: 15px;
    margin: 0px 20px;
    background-color: #535b63;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

/* 지역 */
.up-region select {
    width: 90px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dddddd;
    background: url('/images/arrow.jpg') no-repeat 105% 50%;
    background-color: white;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 13px;
    color: #6c6c6c;
}

select:focus {
    outline: none;
}

.thumbnail-box-right {
    /* 부모 요소의 크기를 지정하거나 필요에 따라 조절합니다. */
    width: 200px;
    height: 200px;
    /* 다른 스타일 속성들을 필요에 따라 추가합니다. */
}

.image-box {
    /* 이미지를 원하는 크기로 고정합니다. */
    width: 100%; /* 부모 요소에 대한 100% 너비 */
    height: 100%; /* 부모 요소에 대한 100% 높이 */
    object-fit: cover; /* 이미지가 요소에 맞게 잘리지 않도록 설정 */
}