<div class="container">
    <div class="col-sm-6">
        <img src="/images/gimbap.png" alt="Error gimbap icon">
    </div>
    <div class="col-sm-6">
        잘못된 접근입니다. <br>
        홈으로 돌아가세요 :)
        <a href="/">➡️🏠</a>
        </p>
    </div>
</div>