<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/findPw.css">

<!-- SECTION -->
<section>
    <div class="find-pw-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>비밀번호 찾기</a>
            </div>
            <div class="find-pw-box">
                <form name="find-pw" method="post">
                    <span>ID</span>
                    <input type="text" name="mem_id" placeholder="아이디" required>
                    <span>NAME</span>
                    <input type="text" name="name" placeholder="이름" required>
                    <span>E-MAIL</span>
                    <input type="email" name="email" placeholder="가입한 이메일 주소" required>
                    <button type="submit" name="find_pw">비밀번호 찾기 -></button>
                </form>
            </div>
                <!-- 아이디, 이름, 주소 일치하면 정보 넘겨서 비번 변경 이동 -->
        </div>
    </div>
</section>