<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/findId.css">

<!-- SECTION -->
<section>
    <div class="find-id-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>아이디 찾기</a>
            </div>
            <div class="find-id-box">
                <form name="find-id" method="post">
                    <span>NAME</span>
                    <input type="text" name="name" placeholder="이름" required>
                    <span>E-MAIL</span>
                    <input type="email" name="email" placeholder="가입한 이메일 주소" required>
                    <button type="submit" name="find_id">아이디 찾기 -></button>
                </form>
            </div>
            <!-- 폼에 보내진 이름, 주소 일치 시 유저 아이디 띄우기
            그 외 false  -->
            
        </div>
    </div>
</section>