<!--FOOTER-->
<footer>
    <div id="modalWrapFooter">
        <div id="modalBodyFooter">
            <span id="closeBtnFooter">&times;</span>
            <div class="zxcv">
                <p>개인정보 처리방침 내용</p>
            </div>

        </div>
    </div>

    <div class="content" id="down-scroll">
        <ul class="go-notice">
            <a href="/notice">공지사항</a>
            <a href="javascript:void(0)">고객센터</a>
            <button type="button" id="popupBtnFooter">개인정보처리방침</button>
        </ul>
        <div class="footer-text">
            e-mail: skyblue@seoultech.ac.kr
            <br>
            copyright@FOODIE All Rights Reserved
        </div>
    </div>
</footer>