<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gatherCompleted.css">

<!-- SECTION -->
<section>
    <div class="gather-section">
        <div class="gather-list">
            <div class="gather-main">
                <a href="/gather">밥모임</a>
            </div>
			<div class="gather-sub">
				<ul class="gather-sub-list">
					<li class="gather-sub-name">
						<a href="/gather/recruiting">모집중</a>
					</li>
					<li class="gather-sub-name">
                        <span class="font-bold">
						    <a href="/gather/completed">모집완료</a>
                        </span>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/mygroup">나의 밥모임</a>
					</li>
				</ul>
			</div>
        </div>

		<div class="gather-list-box">
			<% for(var i = 0; i < 9; i++) { %>
				<div class="gather-content-box">
					<div class="group-image">
						<img src="/images/candy-blue.png">
					</div>
					<div class="group-name">
						밥모임 이름 모여라
					</div>
					<div class="group-region">
						<span>서울시 노원구 공릉동</span>
					</div>
					<div class="numberndeadline">
						<div class="group-number">
							<div>2/9 명</div>
						</div>
						<div class="group-deadline">
							<div>11월 30일 모집 마감</div>
						</div>
					</div>
				</div>
			<% } %>
        </div>
		
		<div class="pagination-container">
			123
		</div>
		
    </div>
</section>