<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gatherView.css">

<!-- SECTION -->
<section>
    <div class="gather-view-section">

        <!-- 신청 모달 창 -->
		<div id="modalWrapViewJoin">

			<!-- 모달 -->
			<div id="modalBodyViewJoin">

				<!-- 내용물 -->
				<div class="gather-join-contents">

					<!-- 밥모임 이름 -->
					<div class="join-target">

						<!-- 클릭한 밥모임의 이름 불러오기 -->
						왕짜장 먹으러 가자~!

					</div>
					
					<!-- 신청 폼 -->
					<form method="post" id="form-apply" onsubmit="return joinClick()">

						<!-- 인사말 박스 -->
						<div class="gather-join-text">

							<!-- 타이틀 -->
							<div class="join-title">
								같이 먹어요😊
							</div>

							<!-- 인사말 -->
							<div class="join-text">

								<!-- 인사말 타이틀과 선 -->
								<div class="join-text-title">

									<!-- 인사말 타이틀 내용 -->
									<div class="join-text-title-content">
										인사말
									</div>
									<div class="join-text-title-border">
										<p>&nbsp;</p>
									</div>

								</div>

								<div class="join-textarea-box">
									<!-- 텍스트아리아 -->
									<textarea name="gatherJoin" id="gatherJoinArea" placeholder="인사말을 적어주세요 :)"></textarea>
								</div>
								
							</div>
							
						</div>

						<!-- 버튼 박스 -->
						<div class="join-btn-box">

							<!-- 신청 버튼 -->
							<button type="submit">신청</button>

							<!-- 취소 버튼 -->
							<button type="button" id="closeBtnViewJoin">취소</button>

						</div>	

					</form>

				</div>
	
			</div>
		</div>

        <!-- 밥모임 내용 -->
        <div class="post-section">

            <!-- 모임 이름 -->
            <div class="post-title">
                <div class="gather-view-title">
                    <!-- 모임 이름 불러오기 -->
                    노원구 왕짜장 먹으러 갈 사람~!~!~!
                </div>
            </div>

            <!-- 모임장, 게시일, 조회수 -->
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        모임장
                        <!-- 작성자 이름 불러오기 -->
                        초코우유
                    </li>
                    <li class="write-date">
                        게시일
                        <!-- 작성일 불러오기 -->
                        2023년 12월 19일
                    </li>
                </ul>
                <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <!-- 조회수 column만들기 -->
                            123
                        </span>
                    </li>
                </ul>
            </div>

            <!-- 이미지, 지역, 식당, 인원, 마감일, 소개글 -->
            <div class="post-content">
                
                <!-- 이미지, 지역, 식당 -->
				<div class="view-imgNothers">
					<!-- 이미지 -->
					<div class="view-img">
						<img src="/images/candy-blue.png">
					</div>
					<!-- 지역과 식당 -->
					<div class="view-regionNrest">
						<!-- 지역 -->
						<div class="view-region">
							<div class="view-region-title">
								모임 지역 :
							</div>
							<!-- 지역 불러오기 -->
							<div class="view-region-data">
								서울시 노원구 공릉동
							</div>
						</div>
						<!-- 식당 -->
						<div class="view-restaurant">
							<div class="view-restaurant-title">
								함께 할 맛집 :
							</div>
							<!-- 맛집 불러오기 -->
							<div class="view-restaurant-data">
								왕짜장
							</div>
						</div>
					</div>			
				</div>

                <!-- 모집인원과 마감일 -->
                <div class="view-numNdeadline">

                    <!-- 인원수 -->
					<div class="view-numbers">
						<div class="view-numbers-title">
							모집 인원수 <span>(현재인원/총원)</span> :
						</div>					

						<!-- 인원수 불러오기 -->
						<div class="view-numbers-data">
							<span>3</span>
                            /
                            <span>5</span>
						</div>
					</div>
					<!-- 마감일 -->
					<div class="view-deadline">
						<div class="view-deadline-title">
							모집 마감일 :
						</div>

						<!-- 마감일 불러오기 -->
						<div class="view-deadline-data">
							2023년 12월 31일
						</div>
					</div>

                </div>

                <!-- 소개글 -->
				<div class="view-intro">
					<div class="view-intro-title">
						모임 소개글 :
					</div>

					<!-- 소개글 불러오기 -->
					<div class="view-intro-data">
						같이 왕짜장 먹으러 가요~~!같이 왕짜장 먹으러 가요~~!같이 왕짜장 먹으러 가요~~!
					</div>
				</div>
            </div>

            <!-- if 열람유저 = 작성자(모임장): 수정, 삭제, 목록 -->
            <div class="view-button-box">
                <!-- 수정 -->
                <div class="">
                    <button>수정하기</button>            
                </div>
                <!-- 삭제 -->
                <div class="">
                    <button>삭제하기</button>            
                </div>
                <!-- 목록으로 -->
                <div>
                    <a href="/gather">
                        <button>목록으로</button>
                    </a>
                </div>
            </div>
            <!-- else: 신청, 목록 -->
            <div class="view-button-box">
                <!-- 같이먹어요 -->
                <div class="">
                    <button class="join-group" onclick="gatherViewJoinClick()">같이먹어요</button>            
                </div>
                <!-- 목록으로 -->
                <div>
                    <a href="/gather">
                        <button>목록으로</button>
                    </a>
                </div>
            </div>

        </div>
        
        <!-- 유저 상황별 보이는 화면 -->
        <div class="user-situation">

            <!-- 열람유저 = 모임장 -->
            <div class="view-user-master">

                <!-- 모임원 목록 -->
                <div class="master-member-list">
                    <span class="title">모임원 목록</span>

                    <!-- 맨 윗줄 인덱스 -->
                    <div class="user-master-member-f">
                        <div class="master-mem-f">
                            모임원
                        </div>
                        <div class="master-mem-intro-f">
                            인사말
                        </div>
                        <div class="master-mem-status-f">
                            관리
                        </div>
                    </div>

                    <!-- 불러오기 -->
                    <div class="user-master-member">
                        <div class="master-mem">
                            초코케이크
                        </div>
                        <div class="master-mem-intro">
                            안녕하세요 잘 부탁 드려요~~!!
                        </div>
                        <div class="master-mem-status">
                            <span>[강퇴]</span>
                        </div>
                    </div>

                </div>

                <!-- 신청자 목록 -->
                <div class="master-applicant-list">
                    <span class="title">신청자 목록</span>

                    <!-- 첫번째 인덱스 -->
                    <div class="user-master-applicant-f">
                        <div class="master-appli-f">
                            신청자
                        </div>
                        <div class="master-appli-intro-f">
                            인사말
                        </div>
                        <div class="master-appli-status-f">
                            관리
                        </div>
                    </div>

                    <!-- 불러오기 -->
                    <div class="user-master-applicant">
                        <div class="master-appli">
                            로얄밀크티
                        </div>
                        <div class="master-appli-intro">
                            받아주세용~
                        </div>
                        <div class="master-appli-status">
                            <span>[수락]</span>
                            <span>[거절]</span>
                        </div>
                    </div>

                </div>

            </div>

            <!-- 열람유저 = 모임원 -->
            <div class="view-user-member">

                <div class="member-group-list">
                    <span class="title">모임 구성원 목록</span>
                
                    <!-- 모임장 불러오기 -->
                    <div class="member-group-master">
                        <div class="group-master-index">
                            👑모임장
                        </div>
                        <div class="group-master-name">
                            <!-- 이름 불러오기 -->
                            타로버블티
                        </div>
                    </div>

                    <!-- 모임원 불러오기 -->
                    <div class="member-group">
                        <div class="group-member-index">
                            모임원
                        </div>
                        <div class="group-member-name">
                            <!-- 이름 불러오기 -->
                            초코케이크
                        </div>
                    </div>

                    <div class="member-group">
                        <div class="group-member-index">
                            모임원
                        </div>
                        <div class="group-member-name">
                            <!-- 이름 불러오기 -->
                            초코우유
                        </div>
                    </div>

                </div>
            </div>

            <!-- 열람유저 = 신청자 -->
            <div class="view-user-applicant">
                <div class="user-applicant">
                    <div class="user-applicant-cate">
                        <span class="title">신청 상태 : </span>
                        <!-- 상태 불러오기 -->
                        <span class="status">요청중</span>
                    </div>
                    <div class="user-applicant-cate">
                        <span class="title">가입 신청일 : </span> 
                        <!-- 신청일 불러오기 -->
                        <span class="status">2023년 12월 25일</span>
                    </div>
                    <!-- 신청 취소 박스 -->
                    <div class="cancel-btn-box">
                        <button>신청 취소</button>
                    </div>
                </div>             
            </div>

        </div>

    </div>
</section>