<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gather.css">

<!--SECTION-->
<section>

	<!-- μ „μ²΄ ν‹€ -->
    <div class="gather-section">

		<!-- μμ„Έν λ¨λ‹¬ μ°½ -->
		<div id="modalWrapDetails">

			<!-- λ¨λ‹¬ -->
			<div id="modalBodyDetails">

				<!-- λ‹«κΈ° λ²„νΌ -->
				<span id="closeBtnDetails">&times;</span>

				<!-- λ‚΄μ©λ¬Ό -->
				<div class="gather-details-contents">

					<div class="details-img">
						λ€ν‘μ΄λ―Έμ§€
					</div>

					<div class="">
						λ°¥λ¨μ„ μ΄λ¦„
					</div>

					<div class="">
						μ§€μ—­
					</div>

					<div class="">
						μΈμ›μ
					</div>

					<div class="">
						λ§›μ§‘ μ΄λ¦„
					</div>

					<div class="">
						λ§κ°μΌ
					</div>

					<div class="">
						μ†κ°κΈ€
					</div>

				</div>
	
			</div>
		</div>

		<!-- μ‹ μ²­ λ¨λ‹¬ μ°½ -->
		<div id="modalWrapJoin">

			<!-- λ¨λ‹¬ -->
			<div id="modalBodyJoin">

				<!-- λ‹«κΈ° λ²„νΌ -->
				<!-- <span id="closeBtnJoin">&times;</span> -->

				<!-- λ‚΄μ©λ¬Ό -->
				<div class="gather-join-contents">

					<!-- λ°¥λ¨μ„ μ΄λ¦„ -->
					<div class="join-target">

						<!-- ν΄λ¦­ν• λ°¥λ¨μ„μ μ΄λ¦„ λ¶λ¬μ¤κΈ° -->
						μ™•μ§μ¥ λ¨ΉμΌλ¬ κ°€μ~!
						
					</div>
					
					<!-- μ‹ μ²­ νΌ -->
					<form method="post" onsubmit="return confirm('μ‹ μ²­ν•μ‹κ² μµλ‹κΉ?')">

						<!-- μΈμ‚¬λ§ λ°•μ¤ -->
						<div class="gather-join-text">

							<!-- νƒ€μ΄ν‹€ -->
							<div class="join-title">
								κ°™μ΄ λ¨Ήμ–΄μ”π
							</div>

							<!-- μΈμ‚¬λ§ -->
							<div class="join-text">

								<!-- μΈμ‚¬λ§ νƒ€μ΄ν‹€κ³Ό μ„  -->
								<div class="join-text-title">

									<!-- μΈμ‚¬λ§ νƒ€μ΄ν‹€ λ‚΄μ© -->
									<div class="join-text-title-content">
										μΈμ‚¬λ§
									</div>
									<div class="join-text-title-border">
										<p>&nbsp;</p>
									</div>

								</div>

								<div class="join-textarea-box">
									<!-- ν…μ¤νΈμ•„λ¦¬μ•„ -->
									<textarea name="gatherJoin" id="gatherJoinArea" placeholder="μΈμ‚¬λ§μ„ μ μ–΄μ£Όμ„Έμ” :)"></textarea>
								</div>
								
							</div>
							
						</div>

						<!-- λ²„νΌ λ°•μ¤ -->
						<div class="join-btn-box">

							<!-- μ‹ μ²­ λ²„νΌ -->
							<button type="submit">μ‹ μ²­</button>

							<!-- μ·¨μ† λ²„νΌ -->
							<button type="button" id="closeBtnJoin">μ·¨μ†</button>

						</div>	

					</form>

				</div>
	
			</div>
		</div>



		<!-- λ°¥λ¨μ„ μΉ΄ν…κ³ λ¦¬ -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/gather">λ°¥λ¨μ„</a>
            </div>
			<div class="gather-sub">
				<ul class="gather-sub-list">
					<li class="gather-sub-name">
						<a href="/gather/recruiting">λ¨μ§‘μ¤‘</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/completed">λ¨μ§‘μ™„λ£</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/mygroup">λ‚μ λ°¥λ¨μ„</a>
					</li>
				</ul>
			</div>
        </div>

		<!-- λ¨μ§‘μ¤‘ λ¶€λ¶„ -->
		<div class="recruiting-box">
		
			<!-- λ¨μ§‘μ¤‘κ³Ό λ”λ³΄κΈ° -->
			<div class="gathering-title">
				<span class="text">μ§€κΈ λ¨μ§‘μ¤‘μΈ λ°¥λ¨μ„</span>
				<span class="more">
					<a href="/gather/recruiting">[λ”λ³΄κΈ°]</a>
				</span>
			</div>

			<!-- λ¨μ§‘μ¤‘μΈ λ¨μ„μ΄ μ—†μ„ κ²½μ°λ§ μ¶λ ¥ -->
			<!-- if (recruitingList == "") -->
				<div class="no-gather">
					ν„μ¬ λ¨μ§‘μ¤‘μΈ λ¨μ„μ΄ μ—†μ–΄μ”! λ¨μ„μ„ μ§μ ‘ λ§λ“¤μ–΄ λ³΄μ„Έμ” :)
				</div>

			<!-- λ¨μ§‘μ¤‘μΈ λ¨μ„μ΄ μμ„ κ²½μ°λ§ -->
			<!-- else -->

				<!-- μ¬λΌμ΄λ” λ°•μ¤ -->
				<div class="gathering-slide">

					<!-- μ΄μ „ ν™”μ‚΄ν‘(λ¨μ§‘μ¤‘) -->
					<div class="prevArrow-box">
						<button class="prevArrow-recruiting">
							<i class="las la-chevron-left"></i>
						</button>
					</div>

					<!-- μ¬λΌμ΄λ”(λ¨μ§‘μ¤‘ slideRecruiting.js) -->
					<div class="slider-wrap-recruiting">

						<!-- λ¨μ§‘μ¤‘μΈ λ¨μ„ μµμ‹ μμΌλ΅ μµλ€ 5κ° μ¶λ ¥ -->
						<% for(var i = 0; i < 5; i++) { %>

							<!-- μ¬λΌμ΄λ“ ν•λ‚ -->
							<div class="slide-item">
								
								<span class="gather-name">
									λ¨μ„μ΄λ¦„
								</span>
								<span class="gather-region">
									μ„μΈμ‹ μ„μ΄κµ¬ λ°©λ°°λ™
								</span>
								<span class="gather-number">
									ν„μΈμ›/μ΄μ›
								</span>

								<!-- hoverμ‹ μ‹ μ²­, μμ„Έν λ²„νΌ -->
								<div class="button-box">

									<!-- μμ„Έν λ²„νΌ -->
									<a>
										<button class="show-group" onclick="viewDetailsClick()">μμ„Έν</button>
									</a>
									
									<!-- μ‹ μ²­ λ²„νΌ -->
									<a>
										<button class="join-group" onclick="viewJoinClick()">μ‹ μ²­</button>
									</a>

								</div>
							</div>
						
						<% } %>

						<!-- if λ¨μ§‘μ¤‘μΈ λ¨μ„μ΄ 6κ° μ΄μƒμΌ κ²½μ° μ¶”κ°€λ΅ μ¶λ ¥ -->
						<div>
							<a href="/gather/recruiting">
								<div class="slide-item">
									λ” λ§μ€ λ¨μ„μ„ ν™•μΈν•΄λ³΄μ„Έμ”!
								</div>
							</a>
						</div>

					</div>

					<!-- λ‹¤μ ν™”μ‚΄ν‘(λ¨μ§‘μ¤‘) -->
					<div class="nextArrow-box">
						<button class="nextArrow-recruiting">
							<i class="las la-chevron-right"></i>
						</button>
					</div>		 

				</div>

			<!-- } -->

		</div>
		
		<!-- λ¨μ§‘ μ™„λ£ λ¶€λ¶„ -->
		<div class="completed-box">

			<!-- λ¨μ§‘μ™„λ£μ™€ λ”λ³΄κΈ° -->
			<div class="gathering-title">
				<span class="text">λ¨μ§‘ λ! μ΄λ° λ¨μ„λ„ μμ—μ–΄μ” :)</span>
				<span class="more">
					<a href="/gather/completed">[λ”λ³΄κΈ°]</a>
				</span>
			</div>

			<!-- λ¨μ§‘μ™„λ£ λ¨μ„μ΄ μ—†μ„ κ²½μ°λ§ μ¶λ ¥ -->
			<!-- if (completedList == "")-->
				<div class="no-gather">
					μ•„μ§ λ¨μ§‘μ΄ μ™„λ£λ λ¨μ„μ΄ μ—†μ–΄μ”!
				</div>

			<!-- λ¨μ§‘μ™„λ£ λ¨μ„μ΄ μμ„ κ²½μ°λ§ -->
			<!-- else -->
			
				<!-- μ¬λΌμ΄λ” λ°•μ¤ -->
				<div class="gathering-slide">

					<!-- μ΄μ „ ν™”μ‚΄ν‘(λ¨μ§‘μ™„λ£) -->
					<div class="prevArrow-box">
					<button class="prevArrow-completed">
						<i class="las la-chevron-left"></i>
					</button>
					</div>

					<!-- μ¬λΌμ΄λ”(λ¨μ§‘μ™„λ£ slideCompleted.js) -->
					<div class="slider-wrap-completed">

						<!-- λ¨μ§‘ μ™„λ£λ λ¨μ„ μµμ‹ μμΌλ΅ μµλ€ 5κ° μ¶λ ¥ -->
						<% for(var i = 0; i < 5; i++){ %>

							<!-- μ¬λΌμ΄λ“ ν•λ‚ -->
							<div class="slide-item">
								<span class="gather-name">
									λ¨μ„μ΄λ¦„
								</span>
								<span class="gather-region">
									μ„μΈμ‹ λ…Έμ›κµ¬ κ³µλ¦‰λ™
								</span>
								<span class="gather-number">
									ν„μΈμ›/μ΄μ›
								</span>

								<!-- hoverμ‹ μ‹ μ²­, μμ„Έν λ²„νΌ -->
								<div class="button-box">
									<a>
										<button class="show-group-completed" onclick="viewDetailsClick()">μμ„Έν</button>
									</a>
								</div>
							</div>

						<% } %>

						<!-- λ¨μ§‘μ¤‘μΈ λ¨μ„μ΄ 6κ° μ΄μƒμΌ κ²½μ° μ¶”κ°€λ΅ μ¶λ ¥ -->
						<div>
							<a href="/gather/completed">
								<div class="slide-item">
									λ” λ§μ€ λ¨μ„μ„ ν™•μΈν•΄λ³΄μ„Έμ”!
								</div>
							</a>
						</div>

					</div>

					<!-- λ‹¤μ ν™”μ‚΄ν‘(λ¨μ§‘μ™„λ£) -->
					<div class="nextArrow-box">
						<button class="nextArrow-completed">
							<i class="las la-chevron-right"></i>
						</button>
					</div>		  
				
				</div>

			<!-- } -->

		</div>

    </div>
	
</section>