<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gather.css">

<!--SECTION-->
<section>

	<!-- 전체 틀 -->
    <div class="gather-section">

		<!-- 밥모임 카테고리 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/gather">밥모임</a>
            </div>
			<div class="gather-sub">
				<ul class="gather-sub-list">
					<li class="gather-sub-name">
						<a href="/gather/recruiting">모집중</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/completed">모집완료</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/mygroup">나의 밥모임</a>
					</li>
				</ul>
			</div>
        </div>

		<!-- 모집중 부분 -->
		<div class="recruiting-box">
		
			<!-- 모집중과 더보기 -->
			<div class="gathering-title">
				<span class="text">지금 모집중인 밥모임</span>
				<span class="more">
					<a href="/gather/recruiting">[더보기]</a>
				</span>
			</div>

			<!-- 모집중인 모임이 없을 경우만 출력 -->
			<!-- if (recruitingList == "") -->
				<div class="no-gather">
					현재 모집중인 모임이 없어요! 모임을 직접 만들어 보세요 :)
				</div>

			<!-- 모집중인 모임이 있을 경우만 -->
			<!-- else -->

				<!-- 슬라이더 박스 -->
				<div class="gathering-slide">

					<!-- 이전 화살표(모집중) -->
					<div class="prevArrow-box">
						<button class="prevArrow-recruiting">
							<i class="las la-chevron-left"></i>
						</button>
					</div>

					<!-- 슬라이더(모집중 slideRecruiting.js) -->
					<div class="slider-wrap-recruiting">

						<!-- 모집중인 모임 최신순으로 최대 5개 출력 -->
						<% for(var i = 0; i < 5; i++) { %>

							<!-- 슬라이드 하나 -->
							<div class="slide-item">
								<span class="gather-name">
									모임이름
								</span>
								<span class="gather-region">
									서울시 서초구 방배동
								</span>
								<span class="gather-number">
									현인원/총원
								</span>

								<!-- hover시 신청, 자세히 버튼 -->
								<div class="button-box">
									<a href="/gather/join">
										<button class="join-group">신청</button>
									</a>
									<a href="/gather/details">
										<button class="show-group">자세히</button>
									</a>
								</div>
							</div>
						
						<% } %>

						<!-- if 모집중인 모임이 6개 이상일 경우 추가로 출력 -->
						<div>
							<a href="/gather/recruiting">
								<div class="slide-item">
									더 많은 모임을 확인해보세요!
								</div>
							</a>
						</div>

					</div>

					<!-- 다음 화살표(모집중) -->
					<div class="nextArrow-box">
						<button class="nextArrow-recruiting">
							<i class="las la-chevron-right"></i>
						</button>
					</div>		 

				</div>

			<!-- } -->

		</div>
		
		<!-- 모집 완료 부분 -->
		<div class="completed-box">

			<!-- 모집완료와 더보기 -->
			<div class="gathering-title">
				<span class="text">모집 끝! 이런 모임도 있었어요 :)</span>
				<span class="more">
					<a href="/gather/completed">[더보기]</a>
				</span>
			</div>

			<!-- 모집완료 모임이 없을 경우만 출력 -->
			<!-- if (completedList == "")-->
				<div class="no-gather">
					아직 모집이 완료된 모임이 없어요!
				</div>

			<!-- 모집완료 모임이 있을 경우만 -->
			<!-- else -->
			
				<!-- 슬라이더 박스 -->
				<div class="gathering-slide">

					<!-- 이전 화살표(모집완료) -->
					<div class="prevArrow-box">
					<button class="prevArrow-completed">
						<i class="las la-chevron-left"></i>
					</button>
					</div>

					<!-- 슬라이더(모집완료 slideCompleted.js) -->
					<div class="slider-wrap-completed">

						<!-- 모집 완료된 모임 최신순으로 최대 5개 출력 -->
						<% for(var i = 0; i < 5; i++){ %>

							<!-- 슬라이드 하나 -->
							<div class="slide-item">
								<span class="gather-name">
									모임이름
								</span>
								<span class="gather-region">
									서울시 노원구 공릉동
								</span>
								<span class="gather-number">
									현인원/총원
								</span>

								<!-- hover시 신청, 자세히 버튼 -->
								<div class="button-box">
									<a href="/gather/details">
										<button class="show-group-completed">자세히</button>
									</a>
								</div>
							</div>

						<% } %>

						<!-- 모집중인 모임이 6개 이상일 경우 추가로 출력 -->
						<div>
							<a href="/gather/completed">
								<div class="slide-item">
									더 많은 모임을 확인해보세요!
								</div>
							</a>
						</div>

					</div>

					<!-- 다음 화살표(모집완료) -->
					<div class="nextArrow-box">
						<button class="nextArrow-completed">
							<i class="las la-chevron-right"></i>
						</button>
					</div>		  
				
				</div>

			<!-- } -->

		</div>

    </div>
	
</section>