<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gatherMain.css">

<!--SECTION-->
<section>
    <div class="gather-section">
        <div class="gather-list">
            <div class="gather-main">
                <a href="/gather">밥모임</a>
            </div>
			<div class="gather-sub">
				<ul class="gather-sub-list">
					<li class="gather-sub-name">
							<a href="/gather/recruiting">모집중</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/completed">모집완료</a>
					</li>
					<li class="gather-sub-name">
						<a href="/gather/mygroup">나의 밥모임</a>
					</li>
				</ul>
			</div>
        </div>

		<div class="recruiting-box">
			<div class="gathering-title">
				<span class="text">지금 모집중인 밥모임</span>
				<span class="more">
					<a href="/gather/recruiting">[더보기]</a>
				</span>
			</div>

			<!-- if 모집중인 모임이 없을 경우 출력 -->
			<div class="no-gather">
				현재 모집중인 모임이 없어요! 모임을 직접 만들어 보세요 :)
			</div>

			<!-- if 모집중인 모임이 있을 경우 -->
			<div class="gathering-slide">

				<div class="prevArrow-box">
					<button class="prevArrow-recruiting">
						<i class="las la-chevron-left"></i>
					</button>
				</div>

				<div class="slider-wrap-recruiting">
					<!-- if 모집중인 모임 최신순으로 최대 5개 출력 -->
					<% for(var i = 0; i < 5; i++) { %>
						<div class="slide-item">
							<span class="gather-name">
								모임이름
							</span>
							<span class="gather-region">
								서울시 서초구 방배동
							</span>
							<span class="gather-number">
								현인원/총원
							</span>

							<!-- hover시 신청, 자세히 버튼 -->
							<div class="button-box">
								<a href="/gather/join">
									<button class="join-group">신청</button>
								</a>
								<a href="/gather/details">
									<button class="show-group">자세히</button>
								</a>
							</div>
						</div>
					<% } %>

					<!-- if 모집중인 모임이 6개 이상일 경우 추가로 출력 -->
					<div>
						<a href="/gather/recruiting">
							<div class="slide-item">
								더 많은 모임을 확인해보세요!
							</div>
						</a>
					</div>

				</div>

				<div class="nextArrow-box">
					<button class="nextArrow-recruiting">
						<i class="las la-chevron-right"></i>
					</button>
				</div>		 

			</div>
		</div>
		
		<div class="completed-box">
			<div class="gathering-title">
				<span class="text">모집 끝! 이런 모임도 있었어요 :)</span>
				<span class="more">
					<a href="/gather/completed">[더보기]</a>
				</span>
			</div>

			<!-- if 모집중인 모임이 없을 경우 출력 -->
			<div class="no-gather">
				아직 모집이 완료된 모임이 없어요!
			</div>

			<!-- if 모집중인 모임이 있을 경우 -->
			<div class="gathering-slide">

				<div class="prevArrow-box">
					<button class="prevArrow-completed">
						<i class="las la-chevron-left"></i>
					</button>
				</div>

				<div class="slider-wrap-completed">
					<!-- if 모집 완료된 모임 최신순으로 최대 5개 출력 -->
					<% for(var i = 0; i < 5; i++){ %>
						<div class="slide-item">
							<span class="gather-name">
								모임이름
							</span>
							<span class="gather-region">
								서울시 노원구 공릉동
							</span>
							<span class="gather-number">
								현인원/총원
							</span>

							<!-- hover시 신청, 자세히 버튼 -->
							<div class="button-box">
								<!-- <a href="/gather/join">
									<button class="join-group">신청</button>
								</a> -->
								<a href="/gather/details">
									<button class="show-group-completed">자세히</button>
								</a>
							</div>
						</div>
					<% } %>

					<!-- if 모집중인 모임이 6개 이상일 경우 추가로 출력 -->
					<div>
						<a href="/gather/completed">
							<div class="slide-item">
								더 많은 모임을 확인해보세요!
							</div>
						</a>
					</div>

				</div>

				<div class="nextArrow-box">
					<button class="nextArrow-completed">
						<i class="las la-chevron-right"></i>
					</button>
				</div>		  
				
			</div>
		</div>

		<!-- <div class="write-box">
			<a href="/gather/create">
				<button class="write-button">
					밥모임 만들기
				</button>
			</a>
		</div> -->


		<!-- <ul class="post-index">
			<li>
				<div class="post-standard">
					<p class="post-number">번호</p>
					<p class="post-title">밥모임이름</p>
					<p class="post-writer">방장</p>
					<p class="post-date">마감일</p>
					<p class="post-view">현재 상태</p>
					<p class="post-date"> </p>
				</div>
			</li>
		</ul> -->
        <!-- <ul class="post-list">
                <li class="post">
                    <div class="post-container">
						페이지네이션수정
                        <p class="post-number">id</p>
                        <p class="post-title"><a href="/gather">data.name</a></p>
                        <p class="post-writer">data.leader_id</p>
                        <p class="post-date">data.deadline</p>

							<p class="post-date">모집중</p>
						
							<p class="post-date">모집마감 (2)수정</p>

						<p class="post-date">
							<a href="/gather">
								<button class="write-button">
									같이먹기
								</button>
							</a>
						</p>
                    </div>
                </li>
        </ul> -->
    </div>
</section>