<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/gatherView.css">

<!-- SECTION -->
<section>
    <div class="gather-view-section">
        <div class="post-section">
            <div class="post-category-box">
                <ul class="post-category">
                    <li>
                        <span>
                            <a href="/gather">밥모임</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="post-title">
                <!-- 글 제목 불러오기 -->
                글제목
            </div>
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        <!-- 작성자 이름 불러오기 -->
                        작성자
                        초코우유
                    </li>
                    <li class="write-date">
                        게시일
                        <!-- 작성일 불러오기 -->
                        2023년 12월 19일
                    </li>
                    <li class="write-date">
                        마감일
                        <!-- deadline 또는 due date -->
                        <!-- 작성일 불러오기 -->
                        2023년 12월 31일
                    </li>
                </ul>
                <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <!-- 조회수 column만들기 -->
                            123
                        </span>
                    </li>
                    <li class="post-views">
                        총인원수
                        <span>
                            <!-- 조회수 column만들기 -->
                            5
                        </span>
                    </li>
                    <li class="post-views">
                        현재인원수
                        <span>
                            <!-- 조회수 column만들기 -->
                            3
                        </span>
                    </li>
                </ul>
            </div>
            <div>
                <!-- 유저가 작성자면 [수정/삭제] 버튼 -->

                    <a>[편집]</a>
                    <a>[삭제]</a>

                
                <!-- 유저가 모임원이면 [탈퇴] 버튼  -->

                <!-- 유저가 모임원이면 [탈퇴] 버튼  -->


                        <a>[편집]</a>
                        <a>[삭제]</a>


                    모임원
                        <a href="">[탈퇴]</a>


                    신청한 사람
                        


                    거절당한 사람



            </div>
            <div class="post-content">
                1) 총인원<br>2) 현재인원<br> 3) 지역<br>4) 탐방할 맛집<br>
                <!-- 글 내용 불러오기 -->
                글 내용~~~
            </div>
            <!-- 추천, 스크랩하기 -->
            <div class="upscrap-box">
                <button class="up-bt">
                    👍<br>
                    같이먹어요
                    <!-- 로그인 상태일 때 버튼 누르면 추천, 
                         비 로그인 상태면 로그인 어쩌구 창 띄우기 -->
                </button>
                <button class="scrap-bt">
                    ⭐<br>
                    목록
                    <!-- 로그인 상태일 때 버튼 누르면 스크랩, 
                         비 로그인 상태면 로그인 어쩌구 창 띄우기 -->
                </button>
            </div>
        </div>
    </div>
</section>