<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/index.css">
    
<!-- SECTION -->
<section>
    <div class="main-section">
        <!-- <section class="monthly-board">
            이 달의 레시피
        </section>
        <section class="monthly-recipe">
            이 달의 레시피
        </section>
        <section class="monthly-food">
            이 달의 맛집
        </section>
        <section class="my-fridge">
            나만의 냉장고
        </section>
        <section class="chat-section">
            모임 채팅방
        </section> -->
        <div class="txtbox">
            <h1>안녕하세요 아임푸디입니다🍴</h1>
            <p>메인 페이지는 곧 수정될 예정입니다. </p>
            <p>아임푸디에서는 게시판, 레시피, 밥모임 등 다양한 경험을 해보실 수 있습니다!!</p>
        </div>
    </div>
</section>

