<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김밥집</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png">

    <!-- Style Reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <!-- Google APIs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <link href="/css/chat.css" rel="stylesheet" type="text/css">

    <!-- Script -->
    <!-- HTML include(Jquery) -->
    <!-- script src="//code.jquery.com/jquery-1.11.0.min.js"></script -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
    <%- include('header.ejs')%>
    <div class="container">
        <%- body %>
    </div>
    <%- include('footer.ejs')%> 
</body>
</html>