<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/login.css">

<!-- SECTION -->
<div class="in-content">
    <section class="sign-in">
        <div class="in-text">
            <span class="material-icons">person</span>
            <a>로그인 하기</a>
        </div>
        <div class="in-form">
            <div class="id-login">Login</div>
            <form name="login" action="/auth/login" method="POST">
                <input type="text" name="mem_id" placeholder="아이디" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <input type="submit" name="login" value="로그인">
            </form>
            <div class="option">
                <div class="find-id">
                    <a href="/findId">아이디 찾기</a>
                </div>
                <div class="find-pw">
                    <a href="/findPw">비밀번호 찾기</a>
                </div>
                <div class="go-up">
                    <a href="/signup">회원가입</a>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="in-banner">
            광고배너
        </div>
    </section>
</div>