<form actoin="/users/login" method="POST">
    <h2>Login:</h2>
    <label for="inputID>ID</label>
    <input type="id" name="mem_id" id="inputID" placeholder="id" required>
    <lable for="inputPassword">Password</lable>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
    <button type="submit">Login</button>
</form>