<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/">마이룸</a>
            </div>
        </div>
    </div>
</section>

