<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/noticeView.css">

<!-- SECTION -->
<section>
    <div class="board-post-section">
        <div class="post-section">
            <div class="post-title">
                <!-- 글 제목 불러오기 -->

                공지사항 제목
            </div>
            <div class="post-info-box">
                <ul class="post-info-first">
                    <li class="writer-name">
                        <!-- 작성자 이름 불러오기 -->
                        작성자
                        관리자
                        <!--  operator_id -->
                    </li>
                    <li class="write-date">
                        <!-- 작성일 불러오기 -->

                        2021.12.01
                    </li>
                </ul>
                <ul class="post-info-second">
                    <li class="post-views">
                        조회
                        <span>
                            <!-- 조회수 불러오기 -->

                            100
                        </span>
                    </li>
                </ul>
            </div>
            <div class="post-content">
                <!-- 글 내용 불러오기 -->

                글내용안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여안녕하세여
                안녕하세여
                ㅎㅎ
            </div>

            <!-- 글 하단 -->
            <div class="bottom-nav">
                <!-- <div class="goback">
                    <a href="/board">목록으로</a>
                </div> -->

                <!-- 로그인한 유저가 글 작성자일때 보이기 -->
                <div class="editbox">
                    <ul>
                        <li>
                            <span>
                                <a>수정</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a>삭제</a>
                            </span>
                        </li>
                    </ul>
                </div>
                
            </div>

        </div>
        <!-- 하단 -->
        <div class="box">
            <button onclick="location.href='/notice'">목록으로</button>
        </div>
    </div>
</section>