<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/recipeList.css">

<!--SECTION-->
<section>

    <!-- 전체틀 -->
    <div class="recipeList-section">

        <!-- 타이틀과 밑줄 -->
        <div class="recipeList-list">

            <!-- 타이틀 --><!-- 밑줄달린 div -->
            <div class="recipeList-main">
                <a href="/recipe/list">레시피 전체리스트</a>
            </div>

        </div>

        <!-- 레시피 담는 div -->
        <div class="recipeList-content">
            
            <!-- 레시피 하나, 반복하기 -->
            <div class="recipe-box">

                <!-- 대표이미지 박스 -->
                <div class="recipe-img-box">

                </div>

                <!-- 글 박스 -->
                <div class="recipe-con-box">

                    <!-- 제목과 날짜 박스 -->
                    <div class="recipe-titlendate">

                        <!-- 제목 박스 -->
                        <div class="recipe-title-box">

                        </div>

                        <!-- 날짜 박스 -->
                        <div class="recipe-date-box">

                        </div>

                    </div>

                    <!-- 소개글 박스 -->
                    <div class="recipe-intro-box">

                    </div>

                    <!-- 자세히보기 박스 -->
                    <div class="recipe-details-box">

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>