<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/recipeWrite.css">

<!-- SECTION -->
<section>

    <!-- 전체 틀 -->
    <div class="recipe-write-section">

        <!-- 글 작성 틀 -->
        <div class="recipe-write-wrap">

            <!-- 레시피 작성하기와 밑줄 -->
            <div class="recipe-write-main">
                레시피 작성하기
            </div>

            <!-- 레시피 작성 폼 -->
            <form name="recipe-write-form" method="post">

                <!-- 레시피 작성 div -->
                <div class="recipe-form-box">

                    <!-- 제목과 태그 박스 -->
                    <div class="recipe-write-box">

                        <!-- 제목 박스 -->
                        <div class="recipe-write-title">
                            <input type="text" name="title" placeholder="제목" value="" required />
                        </div>

                        <!-- 태그 선택 checkbox 박스 -->
                        <div class="recipe-write-tag">

                            <!-- 태그 -->
                            <div class="tag-title">
                                태그
                            </div>

                            <!-- 태그 종류 -->
                            <div class="tag-category">
                                <!-- required 어카지... 최소 하나 선택하게끔 -->
                                <% tagNameList.forEach((name, index)=>{ %> 
                                    <input type="checkbox" id="<%= tagIdList[index] %>" name="tag" value="<%= tagIdList[index] %>">
                                    <label for="<%= tagIdList[index] %>">#<%= name %></label>
                                <% }) %>
                                서버에선 어떻게 나오려나, value를 받으려나?
                            </div>

                        </div>

                    </div>

                    <!-- 썸네일과 간략 소개글 -->
                    <div class="thumbnintro-box">
                        <!-- 썸네일(레시피 전체리스트에 보여지는 대표이미지) 업로드 -->
                        <div class="thumbnail-box">
                            썸네일 업로드 영역
                        </div>

                        <!-- 간략 소개글 적기 -->
                        <div class="intro-box">
                            <textarea name="intro" placeholder="소개글을 적어주세요." required></textarea>
                        </div>
                    </div>

                    <!-- 필요 재료 적는 칸 -->
                    <div class="ingredients">
                        <!-- ⚠️재료도 블로그 글에 태그 적는 것처럼 # 달고 하나씩 추가할 수 있을까?
                        재료랑  -->
                        <textarea name="ingredient" placeholder="필요한 재료들을 적어주세요." required></textarea>
                    </div>

                    <!-- 글 작성하기 -->
                    <!-- ⚠️step1, step2 동적으로 생성해서 입력 받을 수 있을끼?? -->
                    <div class="board-write-content">
                        <div name="step">
                            step을 동적으로 추가
                            <textarea name="content" placeholder="본문 내용을 입력하세요." required></textarea>
                        </div>
                        
                    </div>
                    cookTime,
                    cookLevel, ⭐⭐⭐⭐⭐. value =1,2,3,4,5
                </div>

                <!-- 폼 등록 버튼 -->
                <div class="button">
                    <button type="submit" name="submit">등록하기</button>
                </div>

            </form>

        </div>

    </div>

</section>
