<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/showId.css">

<!-- SECTION -->
<section>
    <div class="show-id-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>아이디 찾기</a>
            </div>
            <div class="show-id-box">
                <div class="show-title">
                    ID
                </div>
                <div class="show-id">
                    <%= mem_id %>
                </div>
            </div>
            <div class="move-box">
                <div class="move-findpw">
                    <a href="/findPw">비밀번호 찾기</a>
                </div>
                <div class="move-login">
                    <a href="/login">로그인하러 가기</a>
                </div>
            </div>
        </div>
    </div>
</section>