<link rel="stylesheet" href="../css/find-id.css">
<!-- SECTION -->
<section>
    <div class="find-id-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>아이디 찾기</a>
            </div>
            <div class="find-id-box">
                아이디: <%= mem_id %>
            </div>
        </div>
    </div>
</section>