<!-- 회원가입 id 중복체크 확인하기 -->
<div>
    <form id="duplicateCheck">
        아이디: 
        <input id="input-memId" type="id" name="memId" required>
        <button type="submit" name="submit">확인</button>
    </form>
</div>

<script>
    const form = document.getElementById("duplicateCheck");
    const idInput = document.getElementById("input-memId");
    form.addEventListener("submit", function(event){
        event.preventDefault();
        const formData = new FormData(event.target);
        const content = formData.get("memId");

        fetch(`/auth/duplicateCheck?memId=${content}`)
        .then(response=> response.json())
        .then(data=>{
            // console.log('success: ', data.success);
            // console.log(data.message);
            if(data.success){
                alert(data.message);
            } else{
                idInput.innerText = '';
                alert(data.message);
            }
        })
        .catch(err=>{
            console.log('[ERROR] While chekcing duplicate', err);
            idInput.innerText = '';
            alert('다시 시도해주세요');
        })
    });
        
</script>