/* CONTENT */
.content {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


/*HEADER*/
header {
    width: 100%;
    /* position: sticky; */
    top: 0;
    z-index: 9;
    background-color: #fdf8f6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fef0e68c;
}
  
header .content {
    height: 130px;
}
    
header .logo {
    height: 75px;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 10px;
    margin: auto;
}
  
header .sub-category {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}
  
header .sub-category ul.category {
    display: flex;
}
  
header .sub-category ul.category li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
  
header .sub-category ul.category li:first-child::before {
    display: none;
}
  
header .sub-category ul.category li span {
    padding: 5px 15px;
    display: block;
    font-size: 13;
    color: #656565;
}
  
header .sub-category ul.category li a:hover {
    color: black;
}


/* 검색 */
header .sub-category .search {
    position: relative;
    height: 33px;
}

header .sub-category .search input {
    width: 35px;
    height: 33px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}

header .sub-category .search input:focus {
    width: 190px;
    border-color: #ffccb8;
}

header .sub-category .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

header .sub-category .search.focused .material-icons {
    opacity: 0;
}

/* 메인카테고리 */
header .main-category {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
    display: flex;
}
  
header .main-category .item .item-name {
    padding: 15px 48px 25px 48px;
    font-size: 25px;
    font-weight: bold;
}
  
header .main-category .item:hover .item-name {
    background-color: #ffc3ac;
    color: black;
    font-weight: bolder;
    border-radius: 3px 3px 0 0;
}
  
header .main-category .item .item-contents {
    width: 100%;
    /* position: fixed; */
    left: 0;
    display: none;
}


/* 세부카테고리 */
header .main-category .item .item-contents {
    background-color: #ffc3ac;
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
}

/* 마우스 hover시 세부 카테고리 로드 */
header .main-category .item:hover .item-contents {
    display: block;
    text-align: left;
}

header .main-category .inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

header .main-category .inner-contents {
    display: inline-block;
    width: 120px;
    padding: 25px 50px 5px 50px;
    font-size: 17px;
}

header .main-category .inner-contents > li {
    height: 45px;
}

header .main-category .inner-contents > li a:hover {
    color: rgb(36, 36, 36);
    font-weight: 600;
}

header .main-category .inner-contents .none {
    color: rgba(255, 255, 255, 0);
}