/* 전체 틀 */
.recipe-write-section {
    width: 950px;
    margin: auto;
    position: relative;
    /* background-color: rgb(224, 246, 255); */
}

/* 글 작성 틀 */
.recipe-write-wrap {
    width: 950px;
	padding: 20px 0;
}

/* 레시피 작성하기 */
.recipe-write-main {
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    padding: 25px 0px 10px 10px;
}

/* 레시피 작성 폼 */
.recipe-form-box {
    background-color: rgba(248, 239, 244, 0.5);
    padding: 10px;
}

/* 제목과 태그 박스 */
.recipe-write-titlentag {
    display: block;
    /* border: 1px solid black; */
}

/* input 태그를 숨김처리 */
/* input[type="checkbox"] { 
    display: none;
} */
  
/* 체크박스 디폴트 이미지 적용 */
/* .checkbox_img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://s.wemep.co.kr/ui/v2.8.307/dist/pc/css/spr/common.png') 0 -438px no-repeat;
    vertical-align: top;
} */
  
/* 체크되었을 때 background-position 변경 */
/* input[id="chk"]:checked + label span {
    background-position: -75px -438px;
} */

/* 제목 박스 */
.recipe-write-title {
    display: flex;
    align-items: center;
    margin-top: 5px;
    border: 1px dashed rgb(114, 39, 114);
}

.recipe-write-title input[name="title"] {
    width: 930px;
    height: 55px;
    padding: 15px;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    border-width: 0;
}	

/* .recipe-write-title input[name="title"]:focus {
    outline: none;
} */

/* 태그 박스 */
.recipe-write-tag {
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 45px;
    border: 1px dashed rgb(114, 39, 114);
    /* border: 1px solid purple; */
}

.tag-title {
    font-size: 18px;
    margin: 0px;
    padding: 10px 15px;
    width: 35px;
    border-right: 1px dashed rgb(114, 39, 114);
}

.tag-category {
    margin-left: 10px;
}

.tag-category input[type="checkbox"]{
    display: none;
}

.tag-category input[type="checkbox"] + label {
    font-size: 17px;
    margin-right: 5px;
    /* border: 1px solid black; */
}

.tag-category input[type="checkbox"]:checked + label{
    content:'';
    font-size: 17px;
    font-weight: bold;
}

.tag-category input[type="checkbox"]:hover{
    cursor: pointer;
}

.tag-category input[type="checkbox"] + label:hover {
    cursor: pointer;
}


/* 쿡타임과 난이도 */
.timenstar {
    width: 930px;
    height: 45px;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 15px;
    border: 1px dashed rgb(114, 39, 114);
}

/* 쿡타임 */
.cooktime-label {
    width: 455px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.cooktime-box {
    margin: 0 5px;
}

.cooktime-box input[name="cooktime"] {
    width: 50px;
    height: 30px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #dddddd;
    box-sizing:border-box;
}

/* 난이도 */
.levelstar-label {
    width: 50px;
    height: 45px;
    border-left: 1px dashed rgb(114, 39, 114);
    display: flex;
    align-items: center;
    padding-left: 15px;
    
}

.levelstar-box {
    width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
}

.rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: rgb(255, 230, 0) !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: rgb(255, 230, 0) !important;  } 


/* 썸네일과 소개글 */
.thumbnintro-box {
    width: 930px;
    height: 180px;
    display: flex;
    margin-top: 15px;
    border: 1px dashed rgb(114, 39, 114);
}

/* 썸네일 */
.thumbnail-box {
    width: 455px;
    height: 180px;
    display: flex;
    padding-left: 10px;
    /* border: 1px solid black; */
}

.thumbnail-box-left {
    /* border: 1px solid black; */
    width: 165px;
    height: 180px;
    margin-right: 5px;
}

.thumbnail-prev-title {
    display: flex;
    justify-content: right;
    padding-top: 15px;
    height: 115px;
    font-size: 17px;
    /* border: 1px solid black; */
}

.thumbnail-prev-btn {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 40px;
    padding-bottom: 10px;

}

.btn-upload {
    width: 50px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: rgb(77,77,77);
        color: #fff;
    }
}
  
#file {
    display: none;
}

.thumbnail-box-right {
    width: 280px;
    height: 180px;
    /* border: 1px solid black; */
}

.image-box {
    display: block;
    margin: 10px;
    width: 250px;
    height: 160px;
    
    border: 1px dashed rgb(138, 138, 138);
}


/* 소개글 */
.intro-box {
    width: 465px;
    height: 180px;
    border-left: 1px dashed rgb(114, 39, 114);
}

.intro-title {
    width: 435px;
    padding: 15px 15px 0px 15px;
    height: 25px;
    font-size: 17px;
    /* border: 1px solid black; */
}

.intro-box textarea {
    margin: 11px 15px;
    padding: 15px;
    width: 400px;
    height: 85px;
    resize: none;
    border: 1px dashed black;
}




/* 재료 */
.ingredients {
    margin: 10px;
    border: 1px solid black;
}

.ingredients textarea {
    width: 875px;
    height: 100px;
}


/* 단계 */
.recipe-write-content {
    margin: 20px 30px 0 0;
}

.recipe-step-basic {
    display: flex;
}

.step-image {
    border: 1px solid black;
    width: 300px;
}

/* textarea {
    width: 500px;
    height: 100px;
    resize: none;
    border: none;
    padding: 15px;
} */

/* textarea:focus {
    outline: none;
} */

.recipe-step-special {
    display: none;
}


/* button label checked 활용하기 */
/* #check-btn { display: none; }
#check-btn:checked ~ .recipe-step-02 { display: block; } 
.recipe-step-02{ display: none; } */


/* 폼 제출 버튼 */
.submit-button button {
    margin: auto;
    margin-top: 30px;
    display: block;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

