/* 전체 틀 */
.recipe-write-section {
    width: 950px;
    margin: auto;
    position: relative;
    /* background-color: rgb(224, 246, 255); */
}

/* 글 작성 틀 */
.recipe-write-wrap {
    width: 950px;
	padding: 20px 0;
}

/* 레시피 작성하기 */
.recipe-write-main {
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    padding: 25px 0px 10px 10px;
}

/* 레시피 작성 폼 */
.recipe-form-box {
    background-color: rgba(248, 239, 244, 0.5);
    padding: 10px;
}

/* 제목과 태그 박스 */
.recipe-write-titlentag {
    display: block;
    /* border: 1px solid black; */
}

/* input 태그를 숨김처리 */
/* input[type="checkbox"] { 
    display: none;
} */
  
/* 체크박스 디폴트 이미지 적용 */
/* .checkbox_img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://s.wemep.co.kr/ui/v2.8.307/dist/pc/css/spr/common.png') 0 -438px no-repeat;
    vertical-align: top;
} */
  
/* 체크되었을 때 background-position 변경 */
/* input[id="chk"]:checked + label span {
    background-position: -75px -438px;
} */

/* 제목 박스 */
.recipe-write-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(114, 39, 114);
}

.recipe-write-title input[name="title"] {
    width: 930px;
    height: 60px;
    padding: 15px;
    border: none;
    font-size: 22px;
    box-sizing: border-box;
    border-width: 0;
}	

.recipe-write-title input[name="title"]:focus {
    outline: none;
}

/* 태그 박스 */
.recipe-write-tag {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(114, 39, 114);
    /* border: 1px solid purple; */
}

.tag-title {
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    border-right: 1px solid black;
}

.tag-category {
    margin-left: 10px;
}

.tag-category input[type="checkbox"]{
    display: none;
}

.tag-category input[type="checkbox"] + label {
    font-size: 18px;
    margin-right: 5px;
    /* border: 1px solid black; */
}

.tag-category input[type="checkbox"]:checked + label{
    content:'';
    font-size: 18px;
    font-weight: bold;
}

.tag-category input[type="checkbox"]:hover{
    cursor: pointer;
}

.tag-category input[type="checkbox"] + label:hover {
    cursor: pointer;
}


/* 썸네일과 소개글 */
.thumbnintro-box {
    display: flex;
    margin: 10px;
    border: 1px solid black;
}

/* 썸네일 */
.thumbnail-box {
    width: 400px;
    border: 1px solid black;
}

/* 소개글 */
.intro-box {
    border: 1px solid black;
}

.intro-box textarea {
    width: 500px;
    height: 100px;
}


/* 재료 */
.ingredients {
    margin: 10px;
    border: 1px solid black;
}

.ingredients textarea {
    width: 875px;
    height: 100px;
}


/* 단계 */
.recipe-write-content {
    margin: 20px 30px 0 0;
}

.recipe-step-basic {
    display: flex;
}

.step-image {
    border: 1px solid black;
    width: 300px;
}

textarea {
    width: 500px;
    height: 100px;
    resize: none;
    border: none;
    padding: 15px;
}

textarea:focus {
    outline: none;
}

.recipe-step-special {
    display: none;
}


/* button label checked 활용하기 */
/* #check-btn { display: none; }
#check-btn:checked ~ .recipe-step-02 { display: block; } 
.recipe-step-02{ display: none; } */


/* 폼 제출 버튼 */
.submit-button button {
    margin: auto;
    margin-top: 30px;
    display: block;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

