/*form*/
.up-text {
    height: 40px;
    padding: 40px 0px 0px 5px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
}

.up-text a {
    margin: 2px 0px 0px 10px;
}

.up-texttext {
    margin: 10px;
    font-size: 13px;
}

.up-form {
    width: 100%;
    padding-top: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}

.row {
    border-bottom: 1px solid #e6e6e6;
}

.t-text {
    width: 230px;
    padding-left: 20px;
    vertical-align: middle;
    background-color: #F6F5F0;
}

.t-box {
    padding: 10px;
}

.t-box-text {
    padding: 10px 0px 0px 2px;
    font-size: 13px;
    color: #777;
}

.t-text a {
    color: #777;
    font-size: 14px;
    margin: 0px 5px;
    text-decoration-line: underline;
}

.up-form input[name="mem_id"],
.up-form input[name="password"],
.up-form input[name="name"],
.up-form input[name="nickname"],
.up-form input[name="email"],
.up-form input[name="tel"],
.up-form input[name="birthdate"], 
.up-form input[name="profile_image"] {
    width: 250px;
    height: 40px;
    padding: 15px;
    border: 1px solid #dddddd;
    box-sizing:border-box;
}

.t-box label {
    color: #777;
    font-size: 14px;
    margin-right: 20px;
}

input[name="submit"] {
    width: 100px;
    padding: 15px;
    margin: 0px 20px;
    background-color: #dddddd;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;   
}


.button {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.button a {
    width: 100px;
    padding: 15px;
    margin: 0px 20px;
    background-color: #535b63;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

/* 지역 */
.up-region select {
    width: 90px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dddddd;
    background: url('/images/arrow.jpg') no-repeat 105% 50%;
    background-color: white;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 13px;
    color: #6c6c6c;
}

select:focus {
    outline: none;
}


/* 모달 */
/* 버튼 디자인 */
#popupBtnUpAM {
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    /* font-family: 'Gowun Dodum', sans-serif; */
    color: #535b63;
    font-size: 14px;
    text-decoration-line: underline;
}

/* 모달팝업을 감싸고 있는 최상위 부모 */
#modalWrapUpAM {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}
  
/* 모달 팝업창 */
#modalBodyUpAM {
    width: 500px;
    height: 500px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    overflow-y: auto;
}

/* 모달창 닫기 버튼 */
#closeBtnUpAM {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:25px;
    cursor: pointer;
}


/* 버튼 디자인 */
#popupBtnUpPN {
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    /* font-family: 'Gowun Dodum', sans-serif; */
    color: #535b63;
    font-size: 14px;
    text-decoration-line: underline;
}

/* 모달팝업을 감싸고 있는 최상위 부모 */
#modalWrapUpPN {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}
  
/* 모달 팝업창 */
#modalBodyUpPN {
    width: 500px;
    height: 500px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    overflow-y: auto;
}

/* 모달창 닫기 버튼 */
#closeBtnUpPN {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:25px;
    cursor: pointer;
}

.zxcv {
    /* border: 1px solid black; */
    margin-top: 50px;
    font-size: 14px;
}

