<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김밥집</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.png">

    <!-- Style Reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

    <!-- Google APIs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/find-pw.css">

    <!-- Script -->
    <!-- HTML include(Jquery) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">   
    $(document).ready( function() {
        $("#header").load("/views/header.ejs");  // 원하는 파일 경로를 삽입하면 된다
        $("#footer").load("/static/html/footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
    });
    </script>
    
</head>
<body>
    <!-- HEADER -->
    <header id="header"></header>

    <!-- SECTION -->
    <section>
        <div class="find-pw-section">
            <div>
                <div class="in-text">
                    <span class="material-icons">person</span>
                    <a>비밀번호 찾기</a>
                </div>
                <div class="find-pw-box">
                    <form name="find-pw" method="post">
                        <span>ID</span>
                        <input type="text" name="mem_id" placeholder="아이디" required>
                        <span>NAME</span>
                        <input type="text" name="name" placeholder="이름" required>
                        <span>E-MAIL</span>
                        <input type="email" name="email" placeholder="가입한 이메일 주소" required>
                        <button type="submit" name="find_pw">비밀번호 찾기 -></button>
                    </form>
                </div>
                <!-- 아이디, 이름, 주소 일치하면 정보 넘겨서 비번 변경 이동 -->
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer"></footer>
</body>
</html>