<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/changePw.css">

<!-- SECTION -->
<section>
    <div class="change-pw-section">
        <div>
            <div class="in-text">
                <span class="material-icons">person</span>
                <a>비밀번호 변경</a>
            </div>
            <div class="change-pw-box">
                <form name="change-pw" method="post">
                    <span>이전 비밀번호</span>
                    <input type="password" name="old_password" placeholder="이전 비밀번호" required>
                    <span>새로운 비밀번호</span>
                    <input type="password" name="new_password" placeholder="새로운 비밀번호" required>
                    <button type="submit" name=", change-pw">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
</section>