.board-write-section {
    width: 950px;
    margin: auto;
    position: relative;
    /* background-color: rgb(224, 246, 255); */
}

.board-write-wrap {
    width: 950px;
	padding: 20px 0;
}

/*  */
.board-write-main {
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    padding: 30px 0px 10px 10px;
}

.board-form-box {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(251, 247, 249, 0.5);
    padding: 20px;
    border: 2px solid rgb(245, 227, 227);
    border-radius: 2px;
}

.board-write-box {
    display: block;
}

.board-write-category {
    display: inline-block;
    margin-right: 10px;
}

.board-write-title {
    display: inline-block;
}

select {
    cursor: pointer;
    width: 150px;
    height: 55px;
    padding: 18px;
    border: none;
    background: url('/images/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px dashed pink;
    border-radius: 2px;
}

select:focus {
    outline: none;
}

.board-write-box input[name="title"] {
    width: 741px;
    height: 55px;
    padding: 15px;
    box-sizing: border-box;
    border-width: 0;
    font-size: 17px;
    letter-spacing: 1px;
    border: 1px dashed pink;
    border-radius: 2px;
}	

.board-write-box input[name="title"]:focus {
    outline: none;
}

.board-write-content {
    margin: 20px 30px 0 0;
}

textarea {
    width: 863px;
    height: 500px;
    resize: none;
    border: none;
    padding: 20px;
    line-height: 18px;
    border: 1px dashed pink;
    border-radius: 2px;
}

textarea:focus {
    outline: none;
}


.button button {
    margin: auto;
    margin-top: 30px;
    display: block;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(255, 218, 224);
    border-radius: 2px;
}

.button button:hover {
    font-weight: bold;
    border: 1px solid rgb(235, 204, 209);
    background-color: rgb(238, 233, 234);
}

