.chat-section {
    width: 950px;
    margin: auto;
    position: relative;
}

.chat-border {
    width: 700px;
    height: 900px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid rgb(69, 58, 58);
    border-radius: 40px;
}

.chat-border2 {
    width: 630px;
    height: 700px;
    margin: auto;
    border: 2px solid rgb(69, 58, 58);
    border-radius: 8px;
}

.chat-border-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0;
}

.chat-border3 {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 15px;
}

.chat-border4 {
    width: 120px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 27px; 
}

.chat-title {
    width: 570px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: 1px solid black;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container {
    margin: 10px 0;
    /* border: 1px solid black; */
}

#info {
    width: 570px;
    margin: auto;
    padding-bottom: 5px;
}

#info img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.chat-contents {
    width: 570px;
    height: 450px;
    margin: auto;
    border: 1px solid black;
    border-radius: 2px;
	overflow-y: auto;
}

.chatForm-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.chatForm-box input[type="text"] {
    width: 440px;
    height: 25px;
    padding: 10px 15px;
}

.submit-box {
    margin-left: 10px;
}

.submit-box input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 90px;
    height: 48px;
}

.border-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.home-circle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
}

.home-circle:hover {
    background-color: rgb(240, 239, 239);
}

.home-circle span {
    font-size: 40px
}

.black-circle {
    position: absolute;
    right: 120px;
    bottom : 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.black-circle span {
    font-size: 60px;
    color: gray;
}

.black-circle span:hover {
    color: black;
}