<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/recipe/recipeView.css">

<!-- SECTION -->
<section>

    <!-- 전체 틀 -->
    <div class="section-box">

        <!-- 왼쪽 사이드바, 사실상 쓸모x -->
        <div class="sidebar-section">
            <div class="sidebar-box-left">
            </div>
        </div>

        <!-- 글 보여지는 가운데 화면 div -->
        <div class="recipe-view-section">

            <!-- 글 부분 -->
            <div class="post-section">

                <!-- 글 제목 부분 -->
                <div class="post-title">
                    <!-- 글 제목 불러오기 -->
                    맛있는 소불고기 레시피~!
                </div>

                <!-- 작성자 ~ 댓글 부분 -->
                <div class="post-info-box">

                    <!-- 작성자 이름과 날짜 -->
                    <ul class="post-info-first">
                        <li class="writer-name">
                            <!-- 작성자 이름 불러오기 -->
                            작성자
                        </li>
                        <li class="write-date">
                            <!-- 작성일 불러오기 -->
                            2023년 12월 10일
                        </li>
                    </ul>

                    <!-- 조회수, 추천, 댓글 -->
                    <ul class="post-info-second">
                        <li class="post-views">
                            조회
                            <span>
                                <!-- 조회수 불러오기 -->
                                123
                            </span>
                        </li>
                        <li class="post-ups">
                            좋아요
                            <span id="like">
                                <!-- 위에 아이디 삭제 ⚠️⚠️⚠️추천수 불러오기 -->
                                33
                            </span>
                        </li>
                        <li class="post-com-num">
                            댓글
                            <!-- 숫자 클릭 시 댓글 창 부분으로 이동 -->
                            <a href="#comment">
                                <span>
                                    <!-- 댓글수 불러오기 -->
                                    2
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- 태그, 쿡타임과 난이도, 썸네일과 소개글, 재료, 요리과정 -->
                <div class="recipe-view-contents">

                    <!-- 태그 -->
                    <div class="recipe-view-tag">
                        <!-- 태그 불러오기 -->
                        <span>
                            #한식 
                        </span>
                        <span>
                            #도시락
                        </span>
                        <span>
                            #초보자
                        </span>
                    </div>

                    <!-- 쿡타임, 난이도 -->
                    <div class="recipe-view-timelevel">

                        <!-- 메뉴 -->
                        <div class="recipe-view-menu">
                            📑메뉴 :
                            <div class="recipe-menu-on">
                                <!-- 메뉴 불러오기 -->
                                <span>된장찌개</span>
                            </div>
                            ,
                        </div>

                        <!-- 쿡타임 -->
                        <div class="recipe-view-cooktime">
                            ⏱️쿡타임 약
                            <div class="recipe-time-on">
                                <!-- 쿡타임 불러오기 -->
                                <span>30</span>
                            </div>
                            분 ,
                        </div>

                        <!-- 난이도 -->
                        <div class="recipe-view-level">
                            난이도 :
                            <!-- 난이도 불러오기 -->
                            ⭐⭐⭐⭐
                        </div>

                    </div>

                    <!-- 소개글과 썸네일 -->
                    <div class="recipe-view-imgintro">

                        <!-- 썸네일 -->
                        <div class="recipe-view-thumb">
                            <img src="/images/recipeDefault.png">
                        </div>

                        <!-- 소개글 -->
                        <div class="recipe-view-intro">
                            <!-- 소개글 내용 불러오기 -->
                            초보자도 만들 수 있는 소불고기~! 백반에도 생일상에도 올라가는 국민 반찬 소불고기
                            <br>쉽게 요리하는 맛있는 메인 요리~~~
                        </div>

                    </div>

                    <!-- 재료 -->
                    <div class="recipe-view-ingredients">
                        
                        <!-- 재료 타이틀 -->
                        <div class="view-ingredients-title">
                            재료
                        </div>

                        <!-- 재료들 -->
                        <div class="view-ingredients-box">

                            <!-- 재료 하나 -->
                            <div class="view-ingredient">

                                <!-- 재료 이름 불러오기 -->
                                <span class="view-ingr">양파</span>

                                <!-- 재료 양 불러오기 -->
                                <span class="view-quan">1개</span>
                                ,
                            </div>

                            <div class="view-ingredient">
                                <span class="view-ingr">돼지고기 앞다리살</span>
                                <span class="view-quan">600g</span>
                                ,
                            </div>

                            <div class="view-ingredient">
                                <span class="view-ingr">진간장</span>
                                <span class="view-quan">두스푼</span>
                                ,
                            </div>

                            <div class="view-ingredient">
                                <span class="view-ingr">소금</span>
                                <span class="view-quan">한꼬집</span>
                                ,
                            </div>



                        </div>

                    </div>

                    <!-- 단계 -->
                    <div class="recipe-view-steps">

                        <!-- 단계 타이틀 -->
                        <div class="view-steps-title">
                            요리
                            <br>과정
                        </div>

                        <!-- 단계들 -->
                        <div class="view-steps-box">

                            <!-- 단계 하나 -->
                            <div class="view-step">
                                <div class="chkchk">✔️</div>
                                
                                <!-- 단계 내용 불러오기 -->
                                재료들을 물로 씻어줍니다.
                            </div>

                            <div class="view-step">
                                <div class="chkchk">✔️</div>
                                재료들을 적당한 크기로 썰어줍니다. 당근 감자는 네모네모 고기는 조그맣게 또 뭐라적지
                                얌얌 어슷썰기 큐브모양으로 썰기
                            </div>

                            <div class="view-step">
                                <div class="chkchk">✔️</div>
                                냄비에 물을 넣고 끓이기
                            </div>


                        </div>

                    </div>

                </div>
                
                
                <!-- 추천, 스크랩하기 -->
                <% if(typeof user != "undefined"){ %>
                    <!-- 로그인 상태일 시 -->
                    <div class="upscrap-box">
                        <div class="like-box">
                            <button id="likeBTN" name="login" onClick="handleLikeButtonClick();">🤍</button>
                            <div id="likeState" class="like-title"> 
                                ❤️<%= likeInfo.likeCount %>
                            </div>
                        </div>   
                    </div>
                <% } else{ %>
                    <!-- 비로그인 -->
                    <div class="upscrap-box">
                        <div class="like-box">
                            <button id="likeButton" name="login" value="좋아요" onClick="goLogin()">🤍</button>
                            <div class="like-title">
                                ❤️23
                            </div>
                        </div>
                    </div>
                <% } %>
    
                <!-- 글 하단 -->
                <div class="bottom-nav">
                    <div class="goback">
                        <a href="/recipe/list">🔙 목록으로</a>
                    </div>
    
                    <!-- 로그인한 유저가 글 작성자일때 보이기 -->

                        <div class="editbox">
                            <ul>
                                <li>
                                    <span>
                                        <!-- 글 작성자이면 게시글 수정 페이지로 이동 -->
                                        <a>수정</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <!-- 글 작성자이면 게시글 삭제 -->
                                        <a>삭제</a>

                                    </span>
                                </li>
                            </ul>
                        </div>

                </div>       
            </div>

            <!-- 댓글 부분 -->
            <div class="comment-section">
                <a name="comment">
                    <div class="comment-view">
                        <div class="comment-title">
                            <!-- 괄호 안에 댓글수 표시 -->
                            🗨️댓글(0)
                        </div>
                    </div>
                    <!-- 작성된 댓글이 없을 경우 -->

                        <div class="comment-view">
                            <div class="comment-page"></div>
                        </div>
                        <div class="comment-list">
                            <div class class="com-namentime">
                                아직 댓글이 없어요!! 
                            </div>
                        </div>

                        <div class="comment-view">
                            <div class="comment-page">
                                <!-- 댓글 페이지, 댓글이 20개 이상일 때 1,2... 페이지 나타나기. 아래는 예시 -->
                                
                            </div>
                        </div>
                        
                        <div class="comment-list">

                                <div class="com-namentime">
                                    <div class="com-name">
                                        <!-- 댓글 작성자 이름 -->
                                        고구마케이크
                                    </div>
                                    <div class="com-time">
                                        <!-- 댓글이 작성된 시간 -->
                                        (2023-10-18 19:23)
                                    </div>

                                    <!-- 글 열람 유저 = 댓글 작성자이면 보이기 -->
                                    <div class="com-editbox">
                                        <span>수정</span>
                                        <span>삭제</span>
                                    </div>
                                    
                                </div>
                                <div class="com-text">
                                    <!-- 댓글 내용 -->
                                    부드럽고 달콤한 고구마와 담백한 생크림이 어우러진 포근한 생크림 케이크입니다!
                                </div>

                                <div class="com-namentime">
                                    <div class="com-name">
                                        <!-- 댓글 작성자 이름 -->
                                        고구마케이크
                                    </div>
                                    <div class="com-time">
                                        <!-- 댓글이 작성된 시간 -->
                                        (2023-10-18 19:23)
                                    </div>

                                    <!-- 글 열람 유저 = 댓글 작성자이면 보이기 -->
                                    <div class="com-editbox">
                                        <span>수정</span>
                                        <span>삭제</span>
                                    </div>
                                    
                                </div>
                                <div class="com-text">
                                    <!-- 댓글 내용 -->
                                    부드럽고 달콤한 고구마와 담백한 생크림이 어우러진 포근한 생크림 케이크입니다!
                                </div>

                                <div class="com-namentime">
                                    <div class="com-name">
                                        <!-- 댓글 작성자 이름 -->
                                        고구마케이크
                                    </div>
                                    <div class="com-time">
                                        <!-- 댓글이 작성된 시간 -->
                                        (2023-10-18 19:23)
                                    </div>

                                    <!-- 글 열람 유저 = 댓글 작성자이면 보이기 -->
                                    <div class="com-editbox">
                                        <span>수정</span>
                                        <span>삭제</span>
                                    </div>
                                    
                                </div>
                                <div class="com-text">
                                    <!-- 댓글 내용 -->
                                    부드럽고 달콤한 고구마와 담백한 생크림이 어우러진 포근한 생크림 케이크입니다!
                                </div>

                        </div>


                    <!-- 댓글 달기 -->
                    <% if(typeof user != "undefined"){ %>
                        <!-- 로그인 상태일 시 -->
                        <div class="comment-write">
                            <div class="comment-write-form">    
                                <!--  ⚠️⚠️ 폼 태그 바꿈. 231109 -->
                                <div class="commenter">
                                    <!-- 유저 닉네임 -->
                                    닉네임
                                </div>
                                <form id="commentForm">
                                    <div class="comment-write-section">
                                        <div class="write-comment">
                                            <textarea id="comment-textarea" name="content" placeholder="고운말 댓글 달기" required></textarea>
                                        </div>
                                        <div class="submit-button">
                                            <button type="submit" name="submit">등록</button>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    <% } else{ %>
                        <!-- 비로그인 -->
                        <div class="non-user-comment">
                            <textarea onclick="goLogin()" placeholder="로그인하고 댓글을 달아보세요!" required></textarea>
                        </div>
                    <% } %>
    
                    <!-- 하단 -->
                    <div class="box">
                        <button onclick="location.href='/board'">글목록</button>
                    </div>
                </a>
            </div>
            
        </div>

        <!-- 오른쪽 사이드바 -->
        <div class="sidebar-box-right">
            <a href="#up-scroll">
                <div>▲</div>
            </a>
            <a href="#down-scroll">
                <div>▼</div>
            </a>
            <a href="#comment">
                🗨️
            </a>
        </div>

    </div>
</section>