<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/recipe/recipeWrite.css">

<!-- SECTION -->
<section>

    <!-- 전체 틀 -->
    <div class="recipe-write-section">

        <!-- 글 작성 틀 -->
        <div class="recipe-write-wrap">

            <!-- 레시피 작성하기와 밑줄 -->
            <div class="recipe-write-main">
                레시피 작성하기
            </div>

            <!-- 레시피 작성 폼 -->
            <form name="recipe-write-form" method="post" onsubmit="return confirm('레시피를 등록할까요?')">

                <!-- 레시피 작성 div -->
                <div class="recipe-form-box">

                    <!-- 제목과 태그 박스 -->
                    <div class="recipe-write-titlentag">

                        <!-- 제목 박스 -->
                        <div class="recipe-write-title">
                            <input type="text" name="title" placeholder="제목을 입력해주세요 :)" value="" required />
                        </div>

                        <!-- 태그 선택 checkbox 박스 -->
                        <div class="recipe-write-tag">

                            <!-- 태그 -->
                            <div class="tag-title">
                                태그
                            </div>

                            <!-- 태그 종류 -->
                            <div class="tag-category">
                                <!--... 최소 하나 선택하게끔 -->
                                <input type="checkbox" id="easy" name="tag" value="1">
                                <label for="easy">#초보자</label>
                                <input type="checkbox" id="simple" name="tag" value="2">
                                <label for="simple">#간단</label>
                                <input type="checkbox" id="night" name="tag" value="3">
                                <label for="night">#야식</label>
                                <input type="checkbox" id="lunchbox" name="tag" value="4">
                                <label for="lunchbox">#도시락</label>
                                <input type="checkbox" id="party" name="tag" value="5">
                                <label for="party">#홈파티</label>
                                <input type="checkbox" id="health" name="tag" value="6">
                                <label for="health">#건강식</label>
                                <input type="checkbox" id="alcohol" name="tag" value="7">
                                <label for="alcohol">#안주</label>
                                <input type="checkbox" id="dessert" name="tag" value="8">
                                <label for="dessert">#디저트</label>
                                <input type="checkbox" id="dessert" name="tag" value="9">
                                <label for="dessert">#한식</label>
                                <input type="checkbox" id="dessert" name="tag" value="10">
                                <label for="dessert">#중식</label>
                                <input type="checkbox" id="dessert" name="tag" value="11">
                                <label for="dessert">#양식</label>
                            </div>

                        </div>

                    </div>

                    <!-- 쿡타임과 난이도 별표시 -->
                    <div class="timenstar">

                        <!-- 메뉴 -->
                        <div class="menu-label">
                            📑메뉴
                            <div class="menu-box">
                                <input type="text" name="menu" placeholder="ex) 된장찌개" requird>
                            </div>
                        </div>

                        <!-- 쿡타임 -->
                        <div class="cooktime-label">
                            ⏱️쿡타임 약 
                            <div class="cooktime-box">
                                <input type="number" name="cooktime" placeholder="분" step="5" min="5" max="99" maxlength="2" oninput="checkMaxLength(this)" required>
                            </div>
                            분
                        </div>

                        <!-- 난이도 별표시 -->
                        <div class="levelstar-label">
                            난이도
                        </div>
                        <div class="levelstar-box">
                            <fieldset class="rate">
                                <input type="radio" id="rating10" name="rating" value="5"><label for="rating10" title="5점"></label>
                                <!-- <input type="radio" id="rating9" name="rating" value="9"><label class="half" for="rating9" title="4.5점"></label> -->
                                <input type="radio" id="rating8" name="rating" value="4"><label for="rating8" title="4점"></label>
                                <!-- <input type="radio" id="rating7" name="rating" value="7"><label class="half" for="rating7" title="3.5점"></label> -->
                                <input type="radio" id="rating6" name="rating" value="3"><label for="rating6" title="3점"></label>
                                <!-- <input type="radio" id="rating5" name="rating" value="5"><label class="half" for="rating5" title="2.5점"></label> -->
                                <input type="radio" id="rating4" name="rating" value="2"><label for="rating4" title="2점"></label>
                                <!-- <input type="radio" id="rating3" name="rating" value="3"><label class="half" for="rating3" title="1.5점"></label> -->
                                <input type="radio" id="rating2" name="rating" value="1" ><label for="rating2" title="1점"></label>
                                <!-- <input type="radio" id="rating1" name="rating" value="1"><label class="half" for="rating1" title="0.5점"></label> -->

                            </fieldset>
                        </div>

                    </div>

                    <!-- 썸네일과 간략 소개글 -->
                    <div class="thumbnintro-box">

                        <!-- 썸네일(레시피 전체리스트에 보여지는 대표이미지) 업로드 -->
                        <div class="thumbnail-box">

                            <!-- 썸네일 타이틀과 업로드 버튼 박스 -->
                            <div class="thumbnail-box-left">
                                <div class="thumbnail-prev-title">
                                    썸네일 250 x 160 픽셀
                                </div>

                                <!-- 이미지 업로드 -->
                                <div class="thumbnail-prev-btn">
                                    <label for="file">
                                        <div class="btn-upload">업로드</div>
                                    </label>
                                    <input type="file" name="image_thumbnail" id="file" accept="image/*" value="" onchange="readURL(this);"> 
                                </div>

                            </div>

                            <div class="thumbnail-box-right">
                                <!-- 이미지 미리보기 박스 -->
                                <img class="image-box" id="preview" />
                            </div>

                        </div>

                        <!-- 간략 소개글 적기 -->
                        <div class="intro-box">
                            <div class="intro-title">
                                레시피 소개글
                            </div>
                            <textarea name="intro" placeholder="소개글을 적어주세요." required></textarea>
                        </div>
                    </div>

                    <!-- 필요 재료 적는 칸 -->
                    <div class="recipe-write-ingredients">  

                        <!-- 재료 타이틀 -->
                        <div class="ingredients-title">
                            <span>재료 입력하기</span>
                            <INPUT type="button" value="추가하기" onclick="addBox()">
                        </div>

                        <!-- 재료 입력란 -->
                        <div class="ingredients-box">

                            <!-- 재료 입력 input 생성되는 div -->
                            <div id="asdf">

                                <!-- 첫번째 기본 재료 입력란 -->
                                <div class="happy-first">
                                    <input type="text" id="I0" name="ingredient" placeholder="ex) 양파" required>
                                    <input type="text" id="Q0" name="quantity" placeholder="ex) 1개" required>
                                    <input type="button" value="X" onclick="deleteFirst()">
                                </div>

                            </div>
                            
                        </div>

                    </div>

                    <!-- 단계별 작성하기, 단계당 이미지 하나 업로드 가능, 거기에 맞는 요리 단계 설명글 적기 -->
                    <div class="recipe-write-content">

                        <!-- 단계 타이틀 -->
                        <div class="content-title">
                            <span>단계 입력하기</span>
                            <INPUT type="button" value="추가하기" onclick="addStepBox()">
                        </div>

                        <!-- 단계 입력란 -->
                        <div class="steps-box">

                            <!-- 단계 입력 textarea 생성되는 div -->
                            <div id="qwer">
                                
                                <!-- 첫번째 기본 단계 입력란 -->
                                <div class="smile-first">
                                    <textarea id="S0" name="step" placeholder="STEP 1" required></textarea>
                                    <input type="button" value="X" onclick="deleteFirstStep()">
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    

                </div>

                <!-- 폼 등록 버튼 -->
                <div class="submit-button">
                    <button type="submit" name="submit">등록하기</button>
                </div>

            </form>

        </div>

    </div>

</section>


