<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom/myroomBPost.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/myroom">마이룸</a>
            </div>
        </div>

        <!-- 본문 -->
        <div class="myroom-box">
            <!-- 카테고리 -->
            <div class="myroom-category">
                <!-- 내 프로필 -->
                <span>내 프로필</span>
                <ul class="category-profile">
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/changePW">
                            비밀번호 변경
                        </a>
                    </li>
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/pwcheckM">
                            회원정보 수정
                        </a>
                    </li>
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/pwcheckW">
                            탈퇴
                        </a>
                    </li>
                </ul>
                   
                <!-- 활동 내역 -->
                <span>활동 내역</span>
                <ul class="category-activity">
                    <li class="category-align"><span>◆</span> 게시판</li>
                        <ul class="category-activity-board">
                            <li>- 
                                <a class="fontBold" href="/myroom/board/post">작성한 게시글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/board/comment">등록한 댓글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/board/like">좋아요 누른 게시글</a>
                            </li>
                        </ul>
                    <li class="category-align"><span>◆</span> 레시피</li>
                        <ul class="category-activity-recipe">
                            <li>- 
                                <a href="/myroom/recipe/post">작성한 레시피</a>
                            </li>
                            <li>- 
                                <a href="/myroom/recipe/comment">등록한 댓글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/recipe/like">좋아요 누른 레시피</a>
                            </li>
                        </ul>
                    <li class="category-align"><span>◆</span> 밥모임</li>
                        <ul class="category-activity-gather">
                            <li>- 
                                <a href="/gather/mine">나의 밥모임</a>
                            </li>
                            <li>- 
                                <a href="/myroom/chat/list">채팅 목록</a>
                            </li>
                        </ul>
                </ul>
            </div>
            <!-- 내용 -->
            <div class="myroom-contents">

                <div class="up-text">
                    <span class="material-icons">border_color</span>
                    <div>내가 작성한 게시글</div>
                </div>

                <ul class="post-index">
                    <li>
                        <div class="post-standard">
                            <p class="post-board">카테고리</p>
                            <p class="post-title">제목</p>
                            <p class="post-date">작성일</p>
                            <p class="post-view">조회수</p>
                        </div>
                    </li>
                </ul>

                <ul class="post-list">

                    <!-- 리스트 불러오기 -->
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">맛집</p>
                            <p class="post-title"><a href="/board/post">지난번에 서울시 노원구 공릉동의 맛집 왕짜장~!에 다녀왔아요~!~!~!</a></p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>
                    
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">맛집</p>
                            <p class="post-title"><a href="/board/post">지난번에 서울시 노원구 공릉동의 맛집 왕짜장~!에 다녀왔아요~!~!~!</a></p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>

                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">맛집</p>
                            <p class="post-title"><a href="/board/post">지난번에 서울시 노원구 공릉동의 맛집 왕짜장~!에 다녀왔아요~!~!~!</a></p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>

                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">맛집</p>
                            <p class="post-title"><a href="/board/post">지난번에 서울시 노원구 공릉동의 맛집 왕짜장~!에 다녀왔아요~!~!~!</a></p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>

                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">맛집</p>
                            <p class="post-title"><a href="/board/post">지난번에 서울시 노원구 공릉동의 맛집 왕짜장~!에 다녀왔아요~!~!~!</a></p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>

                </ul>
                
            </div>
        </div>
    </div>
</section>

