<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom/myroomCPW.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/myroom">마이룸</a>
            </div>
        </div>

        <!-- 본문 -->
        <div class="myroom-box">
            <!-- 카테고리 -->
            <%-include('myroomSideBar.ejs') %>
            <!-- 내용 -->
            <div class="myroom-contents">
                <div class="in-text">
                    <span class="material-symbols-outlined">person</span>
                    <div>새로운 비밀번호를 입력해주세요</div>
                </div>
                <div class="change-pw-box">
                    <form name="change-pw"  id="changePwForm" method="post" onsubmit="return checkPW ()">
                        <!-- new_pw(새 비밀번호)랑 conf_pw(새 비번 재입력) 다르면
                        경고 문구 빨간색으로.
                        /member/changePw.ejs 도 수정해야함. -->
                        <span>새로운 비밀번호</span>
                        <input type="password" name="new_pw" placeholder="새로운 비밀번호" minlenght='6' maxlength='20' required>
                        <span>새로운 비밀번호</span>
                        <input type="password" name="conf_pw" placeholder="새로운 비밀번호 확인" minlenght='6' maxlength='20' required>
                        <button type="submit" change-pw">비밀번호 변경</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

