<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/myroom/myroomRComment.css">
    
<!-- SECTION -->
<section>
    <div class="myroom-section">

        <!-- 마이룸 -->
        <div class="gather-list">
            <div class="gather-main">
                <a href="/myroom">마이룸</a>
            </div>
        </div>

        <!-- 본문 -->
        <div class="myroom-box">
            <!-- 카테고리 -->
            <div class="myroom-category">
                <!-- 내 프로필 -->
                <span>내 프로필</span>
                <ul class="category-profile">
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/changePW">
                            비밀번호 변경
                        </a>
                    </li>
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/pwcheckM">
                            회원정보 수정
                        </a>
                    </li>
                    <li class="category-align"><span>◆</span>
                        <a href="/myroom/pwcheckW">
                            탈퇴
                        </a>
                    </li>
                </ul>
                   
                <!-- 활동 내역 -->
                <span>활동 내역</span>
                <ul class="category-activity">
                    <li class="category-align"><span>◆</span> 게시판</li>
                        <ul class="category-activity-board">
                            <li>- 
                                <a href="/myroom/board/post">작성한 게시글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/board/comment">등록한 댓글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/board/like">좋아요 누른 게시글</a>
                            </li>
                        </ul>
                    <li class="category-align"><span>◆</span> 레시피</li>
                        <ul class="category-activity-recipe">
                            <li>- 
                                <a href="/myroom/recipe/post">작성한 레시피</a>
                            </li>
                            <li>- 
                                <a class="fontBold" href="/myroom/recipe/comment">등록한 댓글</a>
                            </li>
                            <li>- 
                                <a href="/myroom/recipe/like">좋아요 누른 레시피</a>
                            </li>
                        </ul>
                    <li class="category-align"><span>◆</span> 밥모임</li>
                        <ul class="category-activity-gather">
                            <li>- 
                                <a href="/gather/mine">나의 밥모임</a>
                            </li>
                            <li>- 
                                <a href="/myroom/chat/list">채팅 목록</a>
                            </li>
                        </ul>
                </ul>
            </div>
            <!-- 내용 -->
            <div class="myroom-contents">
                
                <div class="up-text">
                    <span class="material-symbols-outlined">comment</span>
                    <div>내가 등록한 댓글</div>
                </div>

                <ul class="post-index">
                    <li>
                        <div class="post-standard">
                            <p class="post-board">메뉴</p>
                            <p class="post-title">제목</p>
                            <p class="post-writer">작성자</p>
                            <p class="post-date">작성일</p>
                            <p class="post-view">조회수</p>
                        </div>
                    </li>
                </ul>

                <ul class="post-list">

                    <!-- 리스트 불러오기(내가 등록한 댓글의 레시피 정보) -->
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">된장찌개</p>
                            <p class="post-title"><a href="/recipe/view">맛있는 된장찌개~!</a></p>
                            <p class="post-writer">초코케이크</p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>
                    <li class="my-comment-box">
                        <span class="material-symbols-outlined">subdirectory_arrow_right</span>
                        <div class="my-comment">
                            <!-- 내가 등록한 댓글 -->
                            덕분에 맛있는 된장찌개 해먹었어요~!덕분에 맛있는 된장찌개 해먹었어요~!덕분에 맛있는 된장찌개 해먹었어요~!덕분에 맛있는 된장찌개 해먹었어요~!덕분에 맛있는 된장찌개 해먹었어요~!
                        </div>
                    </li>

                    <!-- 리스트 불러오기(내가 등록한 댓글의 레시피 정보) -->
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">고추장찌개</p>
                            <p class="post-title"><a href="/recipe/view">고추장찌개</a></p>
                            <p class="post-writer">초코케이크</p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>
                    <li class="my-comment-box">
                        <span class="material-symbols-outlined">subdirectory_arrow_right</span>
                        <div class="my-comment">
                            <!-- 내가 등록한 댓글 -->
                            굿
                        </div>
                    </li>

                    <!-- 리스트 불러오기(내가 등록한 댓글의 레시피 정보) -->
                    <li class="post">
                        <div class="post-container">
                            <p class="post-board">닭볶음탕탕탕</p>
                            <p class="post-title"><a href="/recipe/view">초보 닭볶음탕</a></p>
                            <p class="post-writer">초코케이크</p>
                            <p class="post-date">2023-12-25</p>
                            <p class="post-view">203</p>
                        </div>
                    </li>
                    <li class="my-comment-box">
                        <span class="material-symbols-outlined">subdirectory_arrow_right</span>
                        <div class="my-comment">
                            <!-- 내가 등록한 댓글 -->
                            ㅎㅎ
                        </div>
                    </li>

                </ul>

                <!-- 페이지네이션 -->
                <div class="myroom-page-box">
                    < 1 2 3 >
                </div>

            </div>
        </div>
    </div>
</section>

