<!-- STYLESHEET -->
<link rel="stylesheet" href="/css/boardWrite.css">

<!-- SECTION -->
<section>
    <div class="board-write-section">
        <div class="board-write-wrap">
            <div class="board-write-main">
                공지사항 작성
            </div>
            <form name="board-write-form" action="/notice/write" method="post">
                <div class="board-form-box">
                    <div class="board-write-box">
                        <div class="board-write-category">
                            <select name="priority" required>
                                <option value="" selected disabled>중요도 선택</option>
                                <option value="0" selected>일반</option>
                                <option value="1">중요</option>
                                <option value="2">긴급</option>
                            </select>
                        </div>
                        <div class="board-write-title">
                            <input type="text" name="title" placeholder="제목" value="" required />
                        </div>
                    </div>
                    <div class="board-write-content">
                        <textarea name="content" placeholder="본문 내용을 입력하세요." required></textarea>
                    </div>
                    <div class="button">
                        <!-- <script>
                            function btn(){
                                if(window.confirm('등록하시겠습니까?')){
                                    document.forms['board-write-form'].submit();
                                }
                                else{
                                    
                                }
                            }
                            </script> -->

                        <button type="submit" name="submit">등록하기</button>
                        <!-- <button onclick="javascript:btn()">등록하기</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
