.red-border {
    border : 1px solid red;
    height : 30px;
  }

.qw {
    background-color: beige;
    border: 2px dashed black;
}

#testbtn2 {
    background-color: blue;
}

#btn0 {
    border: none;
}

#btn2 {
    border: none;
}