<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/views/test/test.css">

</head>
<body>

    <form method="get" id="form" onsubmit="return false;">
        아이디 : <input type="text" name="" id="id"><br>
        비밀번호 : <input type="password" name="" id="pw"><br>
    <div id="asdf">
        <INPUT TYPE="button" VALUE="입력영역 추가하기" onclick="addBox(this.form)" >
    </div>
        <button id="send">전송</button>
    </form>

    <script src="/views/test/formtest.js"></script>
    

</body>
</html>