<div class="container">
    <div class="col-sm-6">
        <img src="/images/index-img.jpg" alt="">
    </div>
    <div class="col-sm-6">
        <h1><%= mem_id %>, Welcome to I'm Foodie🍴</h1>
    </div>
</div>