<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/views/test/modaltest.css">
</head>
<body>
    <div id="btnWrap">
        <button typ="button" id="popupBtn">모달 팝업 띄우기</button>
    </div>
      
    <div id="modalWrap">
        <div id="modalBody">
            <span id="closeBtn">&times;</span>
            <div class="zxcv">
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
                <p>modal-popup 입니다.</p>
            </div>

        </div>
    </div>

    <script src="/views/test/modaltest.js"></script>
</body>
</html>